@charset "UTF-8";

/* 타이틀 헤더 스타일 */
#titleHeader {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
#btnGoSchedule {
	min-width: 10px;
	padding: 6px 12px;
	margin: 0 4px;
	background-color: #575757;
	color: #FFFFFF;
	border: none;
	border-radius: 10px;
}
#btnGoSchedule:hover {
	background-color: #444444;
}


/* form-table(기안문 상세 테이블) 스타일 */
table.form-table {
	width: 100%;
	border-collapse: collapse;
}
table.form-table th,
table.form-table td {
	border: 1px solid #ccc;
	padding: 8px;
	vertical-align: middle;
	white-space: nowrap;
}
table.form-table th {
	width: 15%;
	background: #f2f9ff;
	text-align: center;
	white-space: nowrap;
}
table.form-table td[colspan="3"] > #reqContent {
	min-height: 300px;
}

/* 결재 수행, 결재 라인 목록 테이블 스타일 */
#headTableWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
}
table.approval-res-table,
table.user-list-table {
	width: 300px;
	border-collapse: collapse;
}
table.approval-res-table th,
table.approval-res-table td,
table.user-list-table th,
table.user-list-table td {
	border: 1px solid #ccc;
	padding: 8px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}
table.approval-res-table th,
table.user-list-table th {
	background: #f2f9ff;
	white-space: nowrap;
}
table.approval-res-table td,
table.user-list-table td {
	font-size: 0.8em;
}
table.user-list-table td:nth-child(1) {
	width: 50%;
}
table.user-list-table td:nth-child(2) {
	width: 20%;
}
table.user-list-table td:nth-child(3) {
	width: 30%;
}
#approvalComment {
	width: 98%;
}
.type-tag {
	font-weight: bold;
	padding: 2px 2px 2px 5px;
	border-radius: 4px;
	margin-right: 5px;
	font-size: 0.7em;
}
.type-coop {
	color: #d9534f;
	background-color: #fbeaea;
}
.type-approv {
	color: #f0ad4e;
	background-color: #fff3e0;
}
.type-ref {
	color: #5bc0de;
	background-color: #e6f5fa;
}

/* 첨부파일 영역 스타일 */
#attachFileWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	box-sizing: border-box;
	white-space: nowrap;
}
#fileList {
	width: 100%;
	margin-top: 10px;
}
.file-item {
	margin-bottom: 6px;
	font-size: 0.8em;
	color: #333;
}
.file-item a {
	color: #000;
	text-decoration: none;
}
.file-item a:hover {
	color: #1a0dab;
	text-decoration: underline;
}

/* 의견 리스트 영역 스타일 */
#commentWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	box-sizing: border-box;
}
.comment-item {
	margin-bottom: 6px;
	font-size: 0.8em;
	color: #333;
}

/* 버튼 스타일 */
.btn-area {
	text-align: right;
	margin-top: 16px;
	display: flex;
	justify-content: flex-end;
	align-content: center;
}
.btn-area button {
	min-width: 60px;
	padding: 6px 12px;
	margin: 0 4px;
}
#btnCancel {
	background-color: #0B5773;
	color: #FFFFFF;
	border: none;
}
#btnCancel:hover {
	background-color: #094055;
}
#btnApprove {
	padding: 8px 16px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	background-color: #00c600;
	color: white;
}
#btnApprove:hover {
	background-color: #009d00;
}
#btnReject {
	padding: 8px 16px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	background-color: #dc3545;
	color: white;
}
#btnReject:hover {
	background-color: #a71d2a;
}
