@charset "UTF-8";

/* 가로 스크롤 영역 */
.program-scroll {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    gap: 5px;
    white-space: nowrap;
}
#programListArea {
    width: 100%;
    overflow-x: auto;
}
#programListWrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
}

/* 기본 프로그램 선택 카드 스타일 */
.program-card {
	min-width: 160px;
	max-width: 160px;
	height: 250px;
	padding: 8px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	overflow: hidden;
	background-color: #333;
	color: #fff;
	text-align: center;
	font-size: 0.85rem;
	transition: all 0.2s ease;
	display: flex;
	flex-direction: column;
}
.program-card:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}
.program-card.active {
	background-color: #ff6600;
	color: white;
	font-weight: bold;
}
.program-img {
	width: 100%;
	height: 180px;
	object-fit: fill;
	display: block;
	flex-shrink: 0;
}
.program-title {
	padding: 8px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size: 0.9rem;
	font-weight: 500;
	line-height: 1.2;
}
.program-desc {
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.7rem;
	font-weight: 500;
	line-height: 1.4;
	color: #d1d1d1;
}
.no-data-text {
	font-size: 0.8rem;
	font-style: oblique;
	color: #686868;
}

/* 캘린더 조작 UI 스타일 */
#btnPrevMonth,
#btnNextMonth {
	padding: 6px 10px;
	border: none;
	background-color: #e2e6ea;
	color: #333;
	border-radius: 4px;
	cursor: pointer;
	font-size: 10px;
	transition: background-color 0.2s;
	white-space: nowrap;
}

#btnPrevMonth:hover,
#btnNextMonth:hover {
	background-color: #d6d8db;
}

/* 캘린더 관련 스타일 */
#calendar {
    height: 850px !important;
}
#calendarHeader {
	display: flex;
	justify-content: center;
	gap: 8px;
	align-items: center;
	margin-bottom: 10px;
}
#yearInput {
	width: 50px;
}
#monthInput {
	width: 30px;
}
.tui-full-calendar-month-guide-block,
.tui-full-calendar-month-creation-guide,
.tui-full-calendar-weekday-schedule-bullet {
    display: none !important;
}
.tui-full-calendar-month-week-item .tui-full-calendar-weekday-schedule {
	margin: 0 !important;
}
.tui-full-calendar-weekday-grid-footer {
	display: block;
	width: 100%;
	padding: 0 6px 0 0;
	box-sizing: border-box;
}
.tui-full-calendar-weekday-schedule.tui-full-calendar-weekday-schedule-time .tui-full-calendar-weekday-schedule-title {
	padding: 0 4px;
}
.btnGoProgramBooking {
	display: block;
	box-sizing: border-box;
	padding: 0 5px;
	margin: 0;
	line-height: 1.5;
	background: #ff944d;
	border-radius: 4px;
	cursor: pointer;
	text-align: left;
}
.btnGoProgramBooking .scheduleStatus {
	display: inline-block;
	font-size: 0.7rem;
	color: #333;
	vertical-align: middle;
}
.btnGoProgramBooking:hover {
	background: #ff6600;
	color: #fff;
}
.btnGoProgramBooking:hover .scheduleStatus {
	color: #fff;
}
.btnGoProgramBooking.closed,
.btnGoProgramBooking.disabled {
	background: #ccc;
	color: #999;
}
.btnGoProgramBooking.closed .scheduleStatus,
.btnGoProgramBooking.disabled .scheduleStatus {
	color: #999;
}

/* 버튼 공통 스타일 */
.btn-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#btnGoLogin,
#btnLogout {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 8px;
}

/* 관리자 페이지 이동 버튼 */
#btnGoBookManage {
	padding: 6px 12px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 8px;
   	background-image: repeating-linear-gradient(
		45deg,
		#888888 0px,
		#888888 10px,
		#f9c94d 10px,
		#f9c94d 20px
	);
	background-size: 100% 100%;
    margin-top: 10px;
}
#btnGoBookManage:hover {
    filter: brightness(0.6);
}

/* 예약 확인 페이지 버튼 */
#btnGoUserBooking {
	padding: 6px 12px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 8px;
    background-color: #ff8951;
    margin-top: 10px;
}
#btnGoUserBooking:hover {
    background-color: #ff661c;
}

/* 로그인/로그아웃 버튼 */
#btnGoLogin,
#btnLogout {
	border-radius: 8px;
    background-color: #E9ECEF;
    color: #333;
}
#btnGoLogin:hover,
#btnLogout:hover {
    background-color: #CED4DA;
}

/* 사용자 정보 영역 */
#userInfo {
    margin-bottom: 20px;
    font-size: 0.9rem;
}
#userInfo span {
    margin-right: 12px;
    font-weight: bold;
}
