@charset "UTF-8";@charset "UTF-8";

h4 {
	margin: 0;
	color: #6e6e6e;
}

/* form-table(예약 일정 등록 폼) 스타일 */
table.form-table {
	width: 100%;
	border-collapse: collapse;
}
table.form-table th,
table.form-table td {
	border: 1px solid #ccc;
	padding: 8px;
	vertical-align: middle;
}
table.form-table th {
	width: 15%;
	background: #f7f7f7;
	text-align: center;
	white-space: nowrap;
}
table.form-table #programName,
table.form-table #scheduleDate {
	width: 100%;
    white-space: nowrap;
}
table.form-table #scheduleStartTime,
table.form-table #scheduleEndTime {
	width: 200px;
}
table.form-table #capacity {
	width: 50px;
	margin-right: 5px;
}
#scheduleListArea {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.no-data-text {
	font-size: 0.8rem;
	font-style: oblique;
	color: #686868;
}
.schedule-item {
	display: inline-block;
	width: 175px;
	background-color: #dddddd;
	border-radius: 12px;
	padding: 6px 12px;
	font-size: 0.9rem;
	color: #333;
}

/* 버튼 스타일 */
.btn-area {
	display: flex;
	justify-content: space-between;
	text-align: right;
	margin-top: 16px;
}
.btn-area button {
	min-width: 80px;
	padding: 6px 12px;
	margin-left: 8px;
}
#btnSubmit {
	background-color: #ff6600;
	color: #FFFFFF;
	border: none;
}
#btnSubmit:hover {
	background-color: #f26100;
}
#btnCancel {
	background-color: #E9ECEF;
	border: none;
}
#btnCancel:hover {
	background-color: #CED4DA;
}

